body {
    background-color: rgb(248, 245, 251);
  }
  * {
    font-family: "Work Sans", Georgia, "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .wrapper {
    width: 45%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 10px rgb(215, 198, 248);
    display: block;
    margin: 70px auto;
  }
  header input[type="search"] {
    width: 450px;
    height: 60px;
    padding: 25px 25px;
    background-color: rgb(248, 245, 251);
    border-radius: 5px;
    border: none;
    outline: none;
  }
  header input[type="submit"] {
    width: 100px;
    height: 60px;
    padding: 15px 15px;
    background-color: rgb(140, 24, 249);
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 4px;
  }
  main {
    margin: 60px auto;
  }
  .current-weather h1 {
    font-size: 45px;
    letter-spacing: 4px;
  }
  .current {
    display: flex;
    font-weight: 800;
    justify-content: flex-end;
    margin-top: -150px;
  }
  .current span {
    font-size: 70px;
    margin-top: 15px;
  }
  .current .weather-icon {
    font-size: 30px;
    margin-top: 40px;
  }
  .current .degree {
    font-size: 30px;
  }
  main strong {
    color: red;
  }
  footer {
    margin: 130px 0;
    margin-bottom: 0px;
  }
  footer p {
    text-align: center;
    font-size: 16px;
  }
  footer a {
    color: rgb(140, 24, 249);
  }
  